<div class="contentWrapper">


    <div id="home">
      <div id="homeCopy">
        <h1 id="homeH1">Hello, I'm Jeanette</h1>
        <h2>A web developer &amp; production artist</h2>
      </div>

    </div>

    <div id="about">
      <h1>My Story</h1>

      <p>I'm a web developer &amp; production artist based in New York City. I’m passionate about my craft and am constantly looking for new ways to improve. Always asking the questions that matter What motivates me most is delivering top caliber work.  I have over 5 years of experience in print production. <br>Always looking for a new challenge, I've recently expanded my horizons and ventured into the world of web development. It's been and loving every minute of it! Check out my work and drop me a line.</p>

      <br>

    </div>




    <div id="work">
      <h1>My Work</h1>

      <div class="workContainer">

        <div class="job1">

        </div>

        <div class="job2">

        </div>

        <div class="job3">

        </div>

      </div>
    </div>


    <div id="contact">

      <h1>Get in Touch</h1>

      <p>If you have a project you would like me to work on or if you have something we could collaborate on, please feel free to get in touch.</p>


      <div class="" id="formCont">

        <form class="cform" action="/" method="post">

          <input class="cinput" type="text" name="from" value="" placeholder="email">

          <input class="cinput" type="text" name="subject" value="" placeholder="subject">

          <textarea name="content" rows="10" cols="50" placeholder="message"></textarea>

          <!-- recaptcha content -->
          <div class="g-recaptcha" data-sitekey="ENV['RECAPTCHA_KEY']"></div>
          <!-- recaptcha end -->

          <button class="btn" type="submit" name="button">Submit</button>

        </form>

        <div class="wave">
        </div>

      </div>

    </div>



    <div id="footer">

      <div class="socialMedia">

        <ul class="footerNav">
            <a href="#home"><li>HOME</li></a>
            <a href="#about"><li>ABOUT</li></a>
            <a href="#work"><li>WORK</li></a>
            <a href="#contact"><li>CONTACT</li></a>
        </ul>

        <a href="https://www.linkedin.com/in/jeanette-rivera" target="_blank">
          <div id="linkImg">
          </div>
        </a>

        <a href="https://github.com/JeanRivera23" target="_blank">
          <div id="gitImg">
          </div>
        </a>

      </div>


      <div class="legal">
        <p class="credit1">&copy;2017 Jeanette Rivera</p>

        <a class="credit" href="http://www.freepik.com/free-vector/abstract-background-with-a-watercolor-texture_886474.htm" target="_blank">*Watercolor Image Designed by Freepik</a>
      </div>



    </div>

</div>
