<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Jeanette Rivera</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="main.css">

    <link rel="shortcut icon" href="images/faviconBlue.png">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Patrick+Hand+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,600,700,700i" rel="stylesheet">

  </head>

  <body>

      <nav class="startNav" id="nav">

        <ul>
            <a href="#home"><li>HOME</li></a>
            <a href="#about"><li>ABOUT</li></a>
            <a href="#work"><li>WORK</li></a>
            <a href="#contact"><li>CONTACT</li></a>
        </ul>

      </nav>

    <%= yield %>

    <script type="text/javascript" src="main.js"> </script>

    <!-- recaptcha code -->
    <script src='https://www.google.com/recaptcha/api.js'></script>

  </body>

</html>
